
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">

<div class="container my-auto" id="loginContainer" style="height: 100vh;">

  <div class="sandbox sandbox-correct-pronounciation mt-3">
    <h5 class="heading heading-correct-pronounciation">
      The Project Management System
      <em>Workify</em>
      A portal for managing your project and tasks with your project members.
    </h5>
  </div>
  <br>
  <br>
  <div class="row pb-2 ">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto my-auto d-flex ">
      <div class="card card-signin my-auto">
        <div class="card-body">
          <h3 class="card-title text-center headd" >Sign Up</h3>
          <form (submit)="onRegisterSubmit()" style="width:100%" class="form-signin">
          <!-- <form class="form-signin" (submit)="onLoginSubmit()" style="width:100%"> -->
            
            <div class="row" style="width:100%">
              <span class="input-icon" style="width:15%">
                <div class="login100-social-item">
                 <i class="fa fa-user" aria-hidden="true"></i>
                </div>
              </span>
              <div class="form-group"  style="width:85%" >
                <input type="text" [(ngModel)]="name" name="name" class="form-control" id="name" placeholder="Enter Name">
              </div>
            </div> 
            
            <div class="row" style="width:100%">
              <span class="input-icon" style="width:15%">
                <div class="login100-social-item">
                 <i class="fa fa-user-circle" aria-hidden="true"></i>
                </div>
              </span>
              <div class="form-group"  style="width:85%" >
                <input type="text" [(ngModel)]="username" name="username" class="form-control" id="username" placeholder="Enter Username">
              </div>
            </div> 
            
            <div class="row" style="width:100%">
              <span class="input-icon" style="width:15%">
                <div class="login100-social-item">
                 <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
              </span>
              <div class="form-group"  style="width:85%" >
                <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email">
              </div>
            </div> 
            
            <div class="row" style="width:100%">
              <span class="input-icon" style="width:15%">
                <div class="login100-social-item">
                 <i class="fa fa-lock" aria-hidden="true"></i>
                </div>
              </span>
              <div class="form-group"  style="width:85%" >
                <input type="password" [(ngModel)]="password" name="password" class="form-control" id="inputPassword" placeholder=" Enter Password">
              </div>
            </div> 
              <div class="checkbox center">
                <label>
                  <input type="checkbox" onclick="toggleFunction()"  id="exampleCheck1"> Show Password
                </label>
              </div>
            <br>
            <button  name="submit" class="btn btn-lg btn-outline-primary btn-block text-uppercase raisedb" value="login" type="submit">Sign in</button>
            <br>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- 
<div>
<h2 class="page-header">Register</h2>
<form (submit)="onRegisterSubmit()" >
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control" id="name" placeholder="Enter Name">
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" [(ngModel)]="username" name="username" class="form-control" id="username" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder=" Enter Password">
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
</form>
</div> -->


