<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
  <span class="close-modal close" data-dismiss="modal" (click) = "hide()">×</span>
  <h1 class="header">Create a project</h1>
  <div class="form-group">
    <label>
      <div class="form-label">Project Name (required)</div>
      <input id="projectName" type="text" placeholder="My Awesome Project" class="form-input" value="">
    </label>
  </div>
  <div class="form-label">Add team members (optional)</div>
  <button class="main-btn add-members">Add another member</button>
  <div class="members">
    <div class="split">
      <label class="form-label" for="member-0">Name (required for teams)<input type="text" name="name" data-id="0" id="member-0" class="form-input" value=""></label>
      <label class="form-label split-email" for="email-0">Email (required for teams)<input type="text" name="email" data-id="0" id="email-0" class="form-input" value=""></label>
      <span class="delete">REMOVE</span>
    </div>
  </div>
  <div>
    <button class="main-btn create-project">Create Project</button>
  </div>
</div>


<div class="container">
  <h2>Modal Example</h2>
  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" (click) = "show()">
    Open modal
  </button>
  <!-- The Modal -->
  <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{ title }}</h4>
          <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          {{ content }}
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">Close</button>
        </div>       
      </div>
    </div>
  </div>
</div>