<!-- 
  <div class="sidebarCol border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Therichpost </div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action sidebarCol">Dashboard</a>
      <a href="#" class="list-group-item list-group-item-action sidebarCol">Shortcuts</a>
      <a href="#" class="list-group-item list-group-item-action sidebarCol">Overview</a>
      <a href="#" class="list-group-item list-group-item-action sidebarCol">Events</a>
      <a href="#" class="list-group-item list-group-item-action sidebarCol">Profile</a>
      <a href="#" class="list-group-item list-group-item-action sidebarCol">Status</a>
    </div>
  </div> -->





<nav className="side">
  <ul className="top">
    <li>
      <i (click)="toggleMenu()" className="material-icons hamburger-side-menu">
        menu
      </i>
    </li>

    <li>
      <i className="material-icons icon">home</i>Home
    </li>

    <li>
      <i className="material-icons icon">check_circle</i>My Tasks
    </li>

    <div className="sign-out" onClick={this.onLogoutClick}>
      <li>
        <i className="material-icons icon">arrow_back</i>Sign Out
      </li>
    </div>
  </ul>
  <ul className="bottom">
    <li>
      <h4 className="side-projects-header">Projects</h4>
    </li>
    <div className="project-listings">projectData</div>
  </ul>
</nav>