<div *ngIf="authService.loggedIn()" class="sidebar left ">
  <ul class="list-sidebar bg-defoult">
    <img src="./assets/project.png" alt="">
    <li> <a [routerLink]="['/']"><i class="fa fa-home"></i> <span class="nav-label">Home</span></a> </li>
    <li> <a [routerLink]="['/all']"><i class="fa fa-tasks"></i> <span class="nav-label">My tasks</span></a> </li>
    <li> <a [routerLink]="['/profile']"><i class="fa fa-user"></i> <span class="nav-label">Profile</span></a> </li>
    <li > <a (click)="onLogoutClick()" class="pointer"><i class="fa fa-sign-out"></i> <span class="nav-label ">Sign Out</span></a> </li>
    <li> <a data-toggle="collapse" data-target="#tables" class="collapsed active context-menu" ><i class="fa fa-table"></i> <span class=" nav-label">Projects</span><span class="fa fa-chevron-left pull-right"></span></a>
      <ul  class="sub-menu collapse" id="tables" >
        <div *ngFor="let project of projects">
          <li><a key={project._id} [routerLink]="['/projects',project._id]">{{project.name}}</a></li>
        </div>
      </ul>
    </li>
  </ul>
</div>
