/* body {
  overflow-x: hidden;
}
.sidebarCol{
  background-color:#191f2b;
}
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 1.50s ease-out;
  -moz-transition: margin 1.50s ease-out;
  -o-transition: margin 1.50s ease-out;
  transition: margin 1.50s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
#sidebar-wrapper .list-group {
  width: 15rem;
}
#page-content-wrapper {
  min-width: 100vw;
}
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.project{
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px;
} */

/* @import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"; */

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
	display: block;
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}
audio:not([controls]) {
	display: none;
	height: 0;
}

a {
	background-color: transparent;
	text-decoration: none;
}
a:active, a:hover {
	outline: 0;
}

h1,h2,h3,h4,h5,h6,p,ul,ol{ margin:0px; padding:0px;}.left
{
  height: 100vh;
  /* min-height: 100%; */
}
.left{
  height: 100%;

}
/***********************  TOP Bar ********************/
.sidebar{ width:280px;  background-color:#000;transition: all 0.5s  ease-in-out; }
.sidebar img{
  height: 210px;
  width: 100%;
}
.bg-defoult{background-color:#222;}
.sidebar ul{ list-style:none; margin:0px; padding:0px; }
.sidebar li a,.sidebar li a.collapsed.active{ display:block; padding:18px 20px; color:#fff;border-left:0px solid #dedede;  text-decoration:none}
.sidebar li a.active{background-color:#000;border-left:5px solid #dedede; transition: all 0.5s  ease-in-out}
.sidebar li a:hover{background-color:#000 !important;}
.sidebar li a i{ padding-right:5px;}
.sidebar ul li .sub-menu li a{ position:relative}
.sidebar li a i{
  height:15px;
  width:15px

}
.sidebar ul li .sub-menu li a:before{
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 0px;
    padding-right: 10px;
    vertical-align: middle;
}
.sidebar ul li .sub-menu li a:hover:after {
    content: "";
    position: absolute;
    left: -5px;
    top: 0;
    width: 5px;
    background-color: #111;
    height: 100%;
}
.sidebar ul li .sub-menu li a:hover{ background-color:#222; padding-left:20px; transition: all 0.5s  ease-in-out}
.sub-menu{ border-left:5px solid #dedede;}
	.sidebar li a .nav-label,.sidebar li a .nav-label+span{ transition: all 0.5s  ease-in-out}
	

	.sidebar.fliph li a .nav-label,.sidebar.fliph li a .nav-label+span{ display:none;transition: all 0.5s  ease-in-out}
	.sidebar.fliph {
    width: 42px;transition: all 0.5s  ease-in-out;
   
}
	
.sidebar.fliph li{ position:relative}
.sidebar.fliph .sub-menu {
    position: absolute;
    left: 39px;
    top: 0;
    background-color: #222;
    width: 150px;
    z-index: 100;
}
 

 /* .side {
   min-width: 225px;
   max-width: 225px;
   height: 100vh;
   border-right: 2px solid  #fefefe;
   background-color: #191f2b;
   position: fixed;
   z-index: 1;
   margin-left: 0px;
   transition: margin-left 0.25s ease 0s;
 }

.top {
     margin-top: 1.55rem;
     padding-left: 0px;}
 
.top li:hover {
         cursor: pointer;
    
     }
 
.hamburger-side-menu {
       color: #fff;
       display: flex;
       justify-content: flex-end;
       margin-right: 1rem;
       transition: all 0.25s ease 0s;
       font-size: 20px;
       margin-bottom: 1rem;}

.hamburger-side-menu:hover{
  cursor: pointer;
}
 
     
 
/* div a {
       color: #fff;
       width: 100%;
       display: block;
       transition: all 0.25s ease 0s;}
 
       div a:hover {
         cursor: pointer;
         transition: all 0.25s ease 0s;
       }
 
       li {
         padding: 0.75rem;
         margin-bottom: 1rem;
 
         &:hover {
           background-color: #222a37;
         }
 
         .icon {
           display: inline-block;
           font-size: 16px;
           vertical-align: text-bottom;
           padding-right: 1rem;
           padding-left: 1rem;
           padding-top: 0.25rem;
         }
       }
     }
   }
 } 
 
 .invisibile {
   margin-left: -225px;
   transition: margin-left 0.25s ease 0s;
 }
 
 .active-page {
   color: #fff !important;
   background-color: #222a37;
   transition: all 0.25s ease 0s;
 }
 
 .bottom {
   margin-top: 4rem;
   color: #fff;
   padding-left: 3.8rem;
 }
 
 .side-projects-header {
   font-family: "Oxygen Mono", monospace;
 }
 
 .project-listings {
   height: 305px;
   overflow: scroll;
 
   &::-webkit-scrollbar {
     -webkit-appearance: none;
     width: 4px;
   }
 
   &::-webkit-scrollbar-thumb {
     border-radius: 1rem;
     background-color: $primaryBlue;
   }
 }
 
 .project-listing {
   font-size: 14px;
   padding-right: 1rem;
   margin-top: 1.25rem;
   transition: all 0.25s ease 0s;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   width: 150px;}
 
   .project-listing:hover {
     cursor: pointer;
   }
 
   .project-listing a {
     color: #fff;
   }
 
   .project-listing a:visited {
     color: #fff;
   }
 
  */


  