
<div *ngIf="projects!=null" class="main-content ">
  <h1 class="header">Your Projects</h1>
  <button class="main-btn" (click) = "showCreateProj()">Create another project</button>
  <div class="modal-wrapper"></div>
  <br>
  <h1 class="subheader">As Admin</h1>
  <div class="projects-wrapper box effect1 ">
    <div class="project-icon" *ngFor="let project of adminProjects" >
      <div class="project-name">{{project?.name}}</div>
      <div class="project-info-button" (click) = "showEditProj(project._id)">Edit project</div>
      <div class="project-info-button" key={project._id} [routerLink]="['/projects',project._id]">Go to project</div>
    </div>
  </div>
  <h1 class="subheader">As Team Member</h1>
  <div class="projects-wrapper box effect1 ">
    <div class="project-icon" *ngFor="let project of teamMemberProjects">
      <div class="project-name">{{project?.name}}</div>
      <div class="project-info-button" key={project._id} [routerLink]="['/projects',project._id]">Go to project</div>
    </div>
  </div>
</div>
<div *ngIf="projects==null" class="main-content">
  <div class="projects">
    <div class="no-projects">
      <h1 class="header">You have no projects</h1>
      <button class="main-btn" (click) = "showCreateProj()">
        Create your first project
      </button>
    </div>
  </div>
</div>


<!-- Create project Modal -->
<div class="modal-wrapper">
  <form [formGroup]="projectForm" class="modalPopup"  id="myModal" [style.display]="showModalCreate ? 'block' : 'none'">
    <span class="close-modal close" data-dismiss="modal" (click) = "hideCreateProj()">×</span>
    <h1 class="header">Create a project</h1>
    <div class="form-group">
      <label>
        <div class="form-label">Project Name (required)</div>
        <input id="pname" name="pname" formControlName="pname" type="text" placeholder="My Awesome Project" class="form-input" value="">
      </label>
    </div>
    <div class="form-group ">
    <div class="form-label" >Add team members (optional)</div>
    <button class="main-btn btn-secondary" (click)="addMember()" >Add another member</button>
    <div formArrayName="members" class="members">
      <div  *ngFor="let member of members().controls; let i=index" [formGroupName]="i" >
        <div class="split"  >
          <label>
            <div class="form-label">Member email</div>
            <select formControlName="email"  name="assignee" id="assignee" type="text" class="form-input task-input-split">
              <!-- <option disabled="" value="">abc@gmail.com</option> -->
              <option *ngFor="let user of users" value={{user.email}} >{{user.email}}</option>
            </select>
          </label>
          <label>
            <div class="form-label">Member name</div>
            <select formControlName="name"  name="name" id="assignee" type="text" class="form-input task-input-split">
              <!-- <option disabled="" value="">abc</option> -->
              <option *ngFor="let user of users" value={{user?.name}} >{{user?.name}}</option>
            </select>
          </label>
          <span class="delete" (click)="removeMember(i)">REMOVE</span>
        </div>
      </div>
      </div>
    </div>
    <div class="modal-footer" style=" border-top: none;">
      <button class="main-btn create-project" type="submit"(click)="onCreateProject()" value="Submit" >Create Project</button>
    </div>
   </form>
</div>

<!-- Edit project Modal -->
<div class="modal-wrapper">
  <form [formGroup]="editProjectForm" class="modalPopup"  id="myModal" [style.display]="showModalEdit ? 'block' : 'none'">
    <span class="close-modal close" data-dismiss="modal" (click) = "hideEditProj()">×</span>
    <h1 class="header">Edit a project</h1>
    <div class="form-group">
      <label>
        <div class="form-label">Project Name (required)</div>
        <input id="pname" name="pname" formControlName="pname" type="text"  class="form-input" value="{{projectDetails?.project.name}}">
      </label>
    </div>
    <div *ngFor="let old of oldMembers; let j=index" >
      <div class="split">
          <span>Member {{j+1}} :{{old?.name}} - {{old?.email}} <i class="del fa fa-trash ml-2" style="color: blue;" (click)="deleteMember(j)"></i></span>
      </div>
    </div>
    <div class="form-group ">
      <br>
    <div class="form-label" >Add team members (optional)</div>
    <button class="main-btn btn-secondary" (click)="addEditMember()" >Add another member</button>

    <div formArrayName="editMembers" class="members">
      <div  *ngFor="let member of editMembers().controls; let i=index" [formGroupName]="i" >
        <div class="splitt"  >
          <label>
            <div class="form-label">Member email</div>
            <select formControlName="email"  name="assignee" id="assignee" type="text" class="form-input task-input-split">
              <!-- <option disabled="" value="">abc@gmail.com</option> -->
              <option *ngFor="let user of editUsers" value={{user?.email}} >{{user?.email}}</option>
            </select>
          </label>
          <label>
            <div class="form-label">Member name</div>
            <select formControlName="name"  name="name" id="assignee" type="text" class="form-input task-input-split">
              <!-- <option disabled="" value="">abc</option> -->
              <option *ngFor="let user of editUsers" value={{user?.name}} >{{user?.name}}</option>
            </select>
          </label>
          <span class="delete" (click)="removeEditMember(i)">REMOVE</span>
        </div>
      </div>
      </div>
    </div>
    <div class="row" style=" border-top: none;">
      <div class="col-md-6">
        <button class="main-btn update-project" value="Submit"  (click)="onEditProject()" type="submit">Update Project</button>
      </div>
      <div class="col-md-6">
        <button class="main-btn  delete-project" (click) = "hideEditProj()" (click)="onDeleteProject()" >Delete Project</button>
      </div>
    </div>
   </form>
</div>




