<!-- <div class="jumbotron text-center">
  <h1>Workify App</h1>
  <p class="lead">Welcome to WORKIFYY </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-dark" [routerLink]="['/login']">Login</a>
  </div>
</div> -->




<div *ngIf="projects.length>0" class="main-content">
  <h1 class="header">Your Projects</h1>
  <button class="main-btn" (click)="toggleModal()">Create another project</button>
  <div class="modal-wrapper"></div>
  <div class="projects-wrapper">
    <div key={project._id} class="project-icon" *ngFor="let project of projects">
      <div class="project-name">{{project.name}}</div>
      <div class="project-info-button">Edit project</div>
      <div class="project-info-button">Go to project</div>
    </div>
  </div>
</div>
<div *ngIf="projects.length==0" class="main-content">
  <div class="projects">
    <div class="no-projects">
      <h1 class="header">You have no projects</h1>
      <button class="main-btn" (click)="toggleModal()">
        Create your first project
      </button>
      <div class="modal-wrapper">
        <!-- <Modal onClose={this.toggleModal} modal={this.state.modal} /> -->
      </div>
    </div>
  </div>
</div>

