<!-- <div class="jumbotron text-center">
  <h1>Workify App</h1>
  <p class="lead">Welcome to WORKIFYY </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-dark" [routerLink]="['/login']">Login</a>
  </div>
</div> -->



<div *ngIf="projects!=null" class="main-content">
  <h1 class="header">Your Projects</h1>
  <button class="main-btn" (click) = "showCreateProj()">Create another project</button>
  <div class="modal-wrapper"></div>
  <br>
  <h1 class="subheader">As Admin</h1>
  <div class="projects-wrapper">
    <!-- (click)="getProjectData(project._id)" -->
    <div class="project-icon" *ngFor="let project of adminProjects" >
      <div class="project-name">{{project.name}}</div>
      <div class="project-info-button" (click) = "showEditProj(project._id)">Edit project</div>
      <div class="project-info-button" key={project._id} [routerLink]="['/projects',project._id]">Go to project</div>
      <!-- <a [routerLink]="['/projects',project._id]">details </a> -->
    </div>
  </div>
  <h1 class="subheader">As Team Member</h1>
  <div class="projects-wrapper">
    <div class="project-icon" *ngFor="let project of teamMemberProjects">
      <div class="project-name">{{project.name}}</div>
      <!-- <div class="project-info-button" (click) = "showEditProj(project._id)">Edit project</div> -->
      <div class="project-info-button" key={project._id} [routerLink]="['/projects',project._id]">Go to project</div>
      <!-- <a [routerLink]="['/projects',project._id]">details </a> -->
    </div>
  </div>
</div>
<div *ngIf="projects==null" class="main-content">
  <div class="projects">
    <div class="no-projects">
      <h1 class="header">You have no projects</h1>
      <button class="main-btn" (click) = "showCreateProj()">
        Create your first project
      </button>
      <div class="modal-wrapper">
        <!-- <Modal onClose={this.toggleModal} modal={this.state.modal} /> -->
      </div>
    </div>
  </div>
</div>





<!-- Create project Modal -->
<div class="modal-wrapper">
  <form [formGroup]="projectForm" class="modalPopup"  id="myModal" [style.display]="showModalCreate ? 'block' : 'none'">
    <span class="close-modal close" data-dismiss="modal" (click) = "hideCreateProj()">×</span>
    <h1 class="header">Create a project</h1>
    <div class="form-group">
      <label>
        <div class="form-label">Project Name (required)</div>
        <input id="pname" name="pname" formControlName="pname" type="text" placeholder="My Awesome Project" class="form-input" value="">
      </label>
    </div>
    <div class="form-group ">
    <div class="form-label" >Add team members (optional)</div>
    <button class="main-btn btn-secondary" (click)="addMember()" >Add another member</button>
    <div formArrayName="members" class="members">
      <div  *ngFor="let member of members().controls; let i=index" [formGroupName]="i" >
        <div class="split"  >
          <label>
            <div class="form-label">Member email</div>
            <select formControlName="email"  name="assignee" id="assignee" type="text" class="form-input task-input-split">
              <option disabled="" value="">abc@gmail.com</option>
              <option *ngFor="let user of users" value={{user.email}} >{{user.email}}</option>
            </select>
          </label>
          <label>
            <div class="form-label">Member name</div>
            <select formControlName="name"  name="name" id="assignee" type="text" class="form-input task-input-split">
              <option disabled="" value="">abc</option>
              <option *ngFor="let user of users" value={{user.name}} >{{user.name}}</option>
            </select>
          </label>
          <span class="delete" (click)="removeMember(i)">REMOVE</span>
        </div>
      </div>
      </div>
    </div>
   <div class="modal-footer" style=" border-top: none;">
      <button class="main-btn create-project" type="submit"(click)="onCreateProject()" value="Submit" >Create Project</button>
</div>
   </form>
  
</div>

<!-- (click) = "hideCreateProj()" -->



