<!-- <div>
  project-details works!
  <h1>{{projectDetails.owner.email}}</h1>
  <h1>{{projectDetails.owner.name}}</h1>
  <h1>{{projectDetails.name}}</h1>
</div> -->


<div class="main-content">
  <h1 class="project-header">{{projectDetails.name}}</h1>
  <button class="main-btn center-btn">Edit Project Info</button>
  <div class="modal-wrapper">
  <div class="tasks-container">
    <div class="projects-first-row">
      <div *ngIf="flag; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock><button class="main-btn add-btn" (click) = "showCreateTask()">Add task</button></ng-template>
        <ng-template #elseBlock><button disabled class="main-btn-disabled add-btn-disabled" (click) = "showCreateTask()">Add task</button></ng-template>
      <!-- <button class="main-btn add-btn" (click) = "showCreateTask()">Add task</button> -->
      <div class="projects-column-headers">
        <p>Assignee</p>
        <p>Due</p>
        <p>Is Done?</p>
        <p>Delete Task</p>

      </div>
    </div>
    <div class="project-tasks">
      <div class="task-input" *ngFor="let task of tasksOfProject">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <span id="0" name="task" class="project-task" (click)="showEditTask(task._id)">{{task.taskName}}</span>
        <span id="0" name="task" class="task-info muted">{{task.taskDesc}}</span>
        <span class="task-info muted">{{task.assignee}}</span>
        <!-- <label ng-bind="formatDate(date) |  date:'MM/dd/yyyy'"></label> -->
        <span class="task-info muted">{{task.dueDate |  date:'dd/MM/yyyy'}}</span>
        <form (change)="onCheckTask(task._id)" id="taskDoneform">
        <div *ngIf="task.assignee === user.email; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <div *ngIf="task.isDone; then checkBlock else uncheckBlock"></div>
          <ng-template #checkBlock><input checked type="checkbox"></ng-template>
          <ng-template #uncheckBlock><input type="checkbox" name="taskDone" [(ngModel)]="taskDone" id="taskDone"></ng-template>
        </ng-template>
        <ng-template #elseBlock>
          <div *ngIf="task.isDone; then cBlock else unBlock"></div>
          <ng-template #cBlock> <input type="checkbox" checked disabled></ng-template>
          <ng-template #unBlock> <input type="checkbox" disabled></ng-template>
        </ng-template>
        </form>
         <i class="fa fa-trash" aria-hidden="true"></i>
         <div *ngIf="flag; then xBlock "></div>
         <ng-template #tBlock>
           <div>
            <i class="fa fa-trash" aria-hidden="true"  (click)="onDeleteTask()"></i>
           </div>
         </ng-template>
      </div>
    </div>
  </div>
  </div>
</div>


<!-- Create task Modal -->
<div class="modal-wrapper">
<form class="modalPopup" ngNativeValidate (submit)="onCreateTask()" id="myModal" [style.display]="showModalCreate ? 'block' : 'none'">
<!-- <form class="modal"> -->
  <span class="close-modal" data-dismiss="modal" (click) = "hideCreateTask()">×</span>
  <h1 class="header">Create task</h1>
  <hr>
  <div class="form-group col-sm-4">
      <div class="form-label">Task Name*</div>
      <input name="taskName" [(ngModel)]="taskName" id="taskName" type="text" required placeholder="Enter Task name" class="form-control" value="">
  </div>
  <div class="form-group col-sm-4">
      <div class="form-label">Task Description*</div>
      <input name="taskDesc" [(ngModel)]="taskDesc" id="taskDesc" max="3" type="text" required placeholder="What is the task?" class="form-control" value="">
  </div>
  <div class="form-group col-sm-4">
        <div class="form-label">Assignee*</div>
        <select [(ngModel)]="assignee" required name="assignee" id="assignee" type="text" class="form-control task-input-split">
          <option disabled="" value="">Assign to</option>
          <option  value="{{projectDetails.owner.email}}">{{projectDetails.owner.name}}({{projectDetails.owner.email}})</option>
          <option *ngFor="let projectMember of projectDetails.teamMembers" value={{projectMember.email}} >{{projectMember.name}}({{projectMember.email}})   </option>
        </select>
  </div>
  <div class="form-group col-sm-4">
      <div class="form-label">Task DueDate*</div>
      <input required class="form-control" type = "Date" [(ngModel)]="taskDue" name="taskDue" id="taskDue">
  </div>
  <div>
    <button class="main-btn update-project" value="Submit" (click) = "hideCreateTask()"type="submit">Create Task</button>
  </div>
</form>
</div>


<!-- Edit task Modal -->
<div class="modal-wrapper">
  <form class="modalPopup"  (submit)="onEditTask()" id="myModal" [style.display]="showModalEdit ? 'block' : 'none'">
    <span class="close-modal" data-dismiss="modal" (click) = "hideEditTask()">×</span>
    <h1 class="header">Edit task</h1>
    <hr>
    <div class="col-sm-4 form-group">
        <div class="form-label">Task Name*</div>
        <input required name="taskName" [(ngModel)]="taskName" id="taskName" type="text" placeholder="Enter Task name" class="form-control" value="{{taskDetails.taskName}}">
    </div>
    <div class="col-sm-4 form-group">
        <div class="form-label">Task Description*</div>
        <input name="taskDesc" [(ngModel)]="taskDesc" id="taskDesc" type="text" required placeholder="What is the task?" class="form-control" value="{{taskDetails.taskDesc}}">
    </div>
    <div class="col-sm-4 form-group">
          <div class="form-label">Assignee</div>
          <select [(ngModel)]="assignee" name="assignee" required id="assignee" type="text" class="form-control ">
            <option disabled="" value="">Assign to</option>
            <option *ngFor="let projectMember of projectDetails.teamMembers" value={{projectMember.email}} >{{projectMember.name}}({{projectMember.email}})   </option>
          </select>
    </div>
    <div class="col-sm-4 form-group pmd-textfield pmd-textfield-floating-label">
      <label class="control-label">Select DueDate</label>
        <!-- <div class="form-label">Select Due Date</div> -->
        <input class="form-control" required type = "Date" [(ngModel)]="taskDue" name="taskDue" id="taskDue" value="{{taskDetails.dueDate}}">
      </div>
      <div *ngIf="flag; then tBlock else eBlock"></div>
        <ng-template #tBlock>
          <div>
            <button class="main-btn update-project" value="Submit" type="submit">Update Task</button>
            <button class="main-btn delete-project" (click) = "hideEditTask()" (click)="onDeleteTask()">Delete Task</button>
          </div>
        </ng-template>
        <ng-template #eBlock>
          <div>
            <button class="main-btn-disabled update-project" value="Submit" type="submit" disabled>Update Task</button>
            <button class="main-btn-disabled delete-project-disabled" (click) = "hideEditTask()" (click)="onDeleteTask()" disabled>Delete Task</button>
          </div>
        </ng-template>
    <!-- <div>
      <button class="main-btn update-project" value="Submit" type="submit">Update Task</button>
          <button class="main-btn delete-project" (click) = "hideEditTask()" (click)="onDeleteTask()">Delete Task</button>
    </div> -->
  </form>
  </div>
  
  

<!-- Edit task Modal -->
<!-- <div class="modal-wrapper">
  <form class="modalPopup" (submit)="onEditTask()" id="myModal" [style.display]="showModalEdit ? 'block' : 'none'">
    <span class="close-modal" data-dismiss="modal" (click) = "hideEditTask()">×</span>
    <h1 class="header">Edit task</h1>
    <div class="form-group">
      <label>
        <div class="form-label">Task Name (required)</div>
        <input name="taskName" [(ngModel)]="taskName" id="taskName" type="text" placeholder="What is the task?" class="form-input" value={{taskDetails.taskName}}>
      </label>
    </div>
    <div class="form-group">
      <div class="split">
        <label>
          <div class="form-label">Assignee</div>
          <select [(ngModel)]="assignee" name="assignee" id="assignee" type="text" class="form-input task-input-split">
            <option disabled="" value="">Assign to</option>
            <option *ngFor="let projectMember of projectDetails.teamMembers" value={{projectMember.email}} >{{projectMember.name}}({{projectMember.email}})   </option>
          </select>
        </label>
        <label>
          <div class="form-label">Due Date</div>
          <div class="split">
            <select [(ngModel)]="monthDue" name="monthDue" id="monthDue" type="text" class="form-input task-input-split month-due">
              <option disabled="" value="">Month</option>
              <option value="1">01</option>
              <option value="2">02</option>
              <option value="3">03</option>
              <option value="4">04</option>
              <option value="5">05</option>
              <option value="6">06</option>
              <option value="7">07</option>
              <option value="8">08</option>
              <option value="9">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
            <select [(ngModel)]="dayDue" name="dayDue" id="dayDue" type="text" class="form-input task-input-split day-due">
              <option disabled="" value="">Day</option>
              <option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option>
            </select>
          </div>
        </label>
      </div>
    </div>
    <div>
      <button class="main-btn update-project" type="submit" value="Submit" value="Submit" type="submit">Update Task</button>
      <button class="main-btn delete-project" (click) = "hideEditTask()" (click)="onDeleteTask()">Delete Task</button>
    </div>
  </form> -->
  <!-- </form>
</div> -->
