<!-- <div>
  project-details works!
  <h1>{{projectDetails.owner.email}}</h1>
  <h1>{{projectDetails.owner.name}}</h1>
  <h1>{{projectDetails.name}}</h1>
</div> -->


<div class="main-content">
  <h1 class="project-header">{{projectDetails.name}}</h1>
  <button class="main-btn center-btn">Edit Project Info</button>
  <div class="modal-wrapper">
  <div class="tasks-container">
    <div class="projects-first-row">
      <button class="main-btn add-btn">Add task</button>
      <div class="projects-column-headers">
        <p>Assignee</p>
        <p>Due</p>
      </div>
    </div>
    <div class="project-tasks">
      <div class="task-input">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <span id="0" name="task" class="project-task">jjj</span>
        <span class="task-info muted">Unassigned</span>
        <span class="task-info muted">Not Set</span>
      </div>
    </div>
  </div>
  </div>
</div>
