body { padding-top: 53px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

.wrapper {
    display: flex;
    justify-content: space-between;
  }

  #wrapper.toggled {
    margin-left: 0;
  }

  @media (min-width: 768px) {

    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
    #wrapper.toggled  {
      margin-left: -15rem;
    }
  }
  
  .right {
    display: flex;
    flex-direction: column;
    min-width: 700px;
    width: 100%;
    z-index: 0;
    transition: margin-left 0.50s ease 0s;
  }

  .container{
      max-width:100%
  }