

<table width="100%" cellspacing="0" id="user_table" class="users list dtable" border="1">   
  <thead id="TblHead">  
      <tr>  
          <td>Sr. No.</td>  
          <td>Task name</td>  
          <td>Task Description</td>  
          <td>Due date</td>  
          <td>Project name</td>  
          <td>Is done</td>  
          <td>Date created</td>  
          <td>Owner of prjoject</td>  
      </tr>  
  </thead>  
  <tbody>  
      <!-- <tr *ngFor="MyTask in MyTasks" ng-click="count = count + 1" ng-init="count=1">  
          <td><a title='Click to view' href="#" target='_blank' class='btn btn-info btn-md'><span class='glyphicon glyphicon-user'></span> View</a></td>  
          <td> count</td>  
          <td>{{MyTask.Vendor}}</td>  
          <td>{{MyTask.DateRequired | date}}</td>  
          <td>{{MyTask.RequisitionDate | date}}</td>  
          <td>{{MyTask.WorkStatus}}</td>  
          <td>{{MyTask.OrderStatus}}</td>  
          <td>Notify</td>  
      </tr>   -->
  </tbody>  
</table> 
<script>
  angular.element(document).ready(function() {  
    dTable = $('#user_table')  
    dTable.DataTable();  
});  
  </script>