/* @import "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css";
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"; */

.cusCont{
    margin-top: 30px;
}
th{
    color:#370EC2 !important;
}

.page-link{
    background-color:#370EC2 !important;
    border:1px solid black !important;
    color: white !important;
}

.header {
    text-transform: capitalize;
    font-size: 27px;
    font-weight: 500;
    color: #212121;
    text-align: center;
    margin-bottom: 18px;
  }